.MainHeader {
    position: relative;
    top: 0;
    background-color: white;
    transition: .25s ease;
    z-index: 999;

    .Logo {
        letter-spacing: .2rem;
        font-weight: 900;
    }

    &.sticky {
        background-color: black;

        .Logo,
        .icon,
        .MenuComponent>.Item .Label>a {

            color: white;
        }

        position: fixed;
        z-index: 50;
        left:0;
        right:0;
        padding: 1rem;
        border-bottom: 1px solid black;
    }
}