.CategoryTag {
    .Link {
        text-align: center;
    }

    a {
        text-transform: lowercase;
        display: block;
        font-weight: 700;
        margin: 1rem 0;
        border-bottom: .2rem solid black;
        font-size: 1.8vh;
    }
}