.AuthPage {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    max-width: 100%;

    .LoginMethod>button {
        margin: 1rem 0;
    }

    small {
        margin-top: auto;
    }

    small>a {
        text-decoration: underline;
    }
}