.Breadcrumb
            {
                z-index: 10;
                display: flex;
                a{
                    &::after{
                        content: "/";
                        margin: 0 .2rem;
                    }
                    font-weight: bold;
                    text-transform: uppercase;
                    text-decoration: underline;
                    &:hover{
                        color:rgb(116, 109, 109);
                    }
                }
            }   