.MyButton {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 1rem 4rem;
    text-align: center;
    line-height: normal;
    background-color: white;
    text-align: center;
    cursor: pointer;
    transition: ease .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .1rem solid #BBBBBB;
    
    &:disabled{
       pointer-events: none;
       background-color: #ccc !important;
    }
    .Icon {
        position: absolute;
        right: 1rem;
    }

    .Content {}

    &:hover {
        

        a {
            color: white;
        }
    }
}