
.SizeRadio
{
    position: relative;
    width: 100%;
    .disableMess
    {
        position: absolute;
        visibility: hidden;
        opacity: .5;
    }
    &:hover .disableMess
    {
        visibility: visible;
        transition: .1s ease;
        color: white;
       
        left: 50%;
        top: -100%;
        transform: translateX(-50%);
        background-color: black;
        white-space: nowrap;
        padding: .6rem;
        border-radius: .7rem;
        &::before{
            content:"";
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
            border: 1.5rem solid ;
            border-color: #000 #0000 #0000 #0000;
        }

    }
    &.disable
    {
        
        background-color: #ccc;
        label:hover
        {
            background-color: unset;
            color: unset;
            cursor: not-allowed;
        }
    }
    label
    {
        display: block;
        padding: 1rem;
        // width: 8rem;
        text-align: center;
        transition: .5s ;
        cursor: pointer;
        border:.1rem solid #CCC;
        &:hover{
            background-color: black;
            color: white;
        }
    }
   
    input[type='radio']
    {
        display: none;
        
    }
    input[type='radio'].checked + label 
    {
            background-color: black;
            color: white;
    }
}