.MyCollapse{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    outline: none;
    padding: 1rem 0;
    border-top: .1rem solid #ccc;
    // border-bottom: .1rem solid #ccc;
    background-color: transparent;
    cursor: pointer;
    overflow-y: scroll;
   
    .labelGroup{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin:1rem 0;
        .label{
            font-weight: 7  00;

        }
    }
    .Content{
        max-height: 0;
        overflow: hidden;
        position: relative;
        transition: max-height .2s  ease;
        text-align: left;
        overflow-y: scroll;
        &.active{
            max-height:1000vh;
        }
    }
}
