.SizeOptions
{
    .Radio
    {
        input[type="radio"]
        {
            display: none;
        }
        label{
            display: block;
            padding: 1rem;
            // width: 8rem;
            text-align: center;
            transition: .15s linear;
            cursor: pointer;
            border:.1rem solid #CCC;
            &:hover{
                background-color: black;
                color: white;
            }
        }
        input[type='radio']:checked + label 
        {
                background-color: black;
                color: white;
        }
    }
      
}