.CardCollection {
    cursor: pointer;
    width: 100%;

    .container {
            >div{
                margin-bottom: 2rem;
            }

        .img {
            height: 40rem;

            img {
                // object-fit: contain;
                object-position: center;
            }
        }

        .content {
            p {
                text-align: left;
            }

            .name {
                font-weight: bold;
                p{
                    text-transform: uppercase;
                }
            }

            .dsc {
                height: calc(1.2em * 3); /* chiều cao tương đương 3 dòng */
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line; /* sử dụng pre-line để giữ nguyên các khoảng trắng */
            }
        }
    }
}