.AdminAuthLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #999;
    background: url("https://images.unsplash.com/photo-1490814525860-594e82bfd34a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=895&q=80");
}